<div class="dashboard">
  <div class="profile-details">
    <% if current_user.photo? %>
        <%= cl_image_tag(current_user.photo,  width: 50, height: 50, radius: :max, crop: :fill,  gravity: :face)%>
    <% else %>
      <%= link_to dashboard_users_path do %>
        <%= image_tag "user.svg", width: "75"%>
      <% end %>
    <% end %>
    <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
    <p><%= current_user.description.truncate(65, separator: ' ') %></p>
    <%= link_to 'Editer mon profil', edit_user_path(current_user), class: 'edit-button' %>
  </div>
  <div class="reader">
      <p>Lecteur</p>
      <div class="tabs">
        <a class="tab active" data-target="#news">
          <p>Dernières sorties</p>
          <%= image_tag "right-arrow.svg", class: "tab-icon" %>
        </a>
        <a class="tab" data-target="#follows">
          <p>Ma Bibliothèque</p>
          <%= image_tag "right-arrow.svg", class: "tab-icon" %>
        </a>
        <a class="tab" data-target="#reviews">
          <p>Mes Commentaires</p>
          <%= image_tag "right-arrow.svg", class: "tab-icon" %>
        </a>
      </div>
  </div>

  <% if current_user.books.any? %>
    <div class="writer">
      <p>Ecrivain</p>
      <div class="tabs">
        <a class="tab" data-target="#drafts">
          <p>Mes ébauches</p>
          <%= image_tag "right-arrow.svg", class: "tab-icon" %>
        </a>
      </div>
    </div>
  <% else %>
  <div class="writer">
    <%= link_to  become_writer_users_path, class: "become-writer" do %>
      Devenir Ecrivain
    <% end %>
  </div>
  <% end %>





  <div class="view">
    <div class="news">

      <div class="tab-content" id="news">
        <div class="view-header">
          <h1>Dernières sorties</h1>
        </div>
        <div class="view-body">
        <% current_user.follows.each do |follow| %>
          <div class="chapter-feed">
            <div class="feed-book-cover">
              <div class="card-tiny-level-3">
                <div class="card-tiny-level-2" style="border: 1px solid <%= follow.chapter.book.hex_for_category %>;">
                  <div class="card-tiny-level-1" style="border: 1px solid <%= follow.chapter.book.hex_for_category %>;">
                    <div class="card-tiny-content">
                      <h2><%= follow.chapter.book.user.first_name %> <%= follow.chapter.book.user.last_name %></h2>
                      <p style="color: <%= follow.chapter.book.hex_for_category %>;"><%= follow.chapter.book.category %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="feed-book-info">
              <p class="book-title"><%= follow.chapter.book.title %></p>
              <p class="chapter-title"><%= follow.chapter.book.chapters.all.last.title %></p>
              <p class="chapter-content"><%= follow.chapter.content.truncate(300, separator: ' ') %></p>
              <p class="chapter-date"><%= follow.chapter.created_at.strftime('%m/%d/%Y') %></p>
            </div>
            <div class="feed-icon">
              <% if 1 == 0 %>
                <%= image_tag "circle-empty.svg"%>
              <% else %>
                <%= image_tag "circle-empty.svg" %>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>

       <div class="tab-content hidden" id="follows">
        <div class="view-header">
          <h1>Ma bibliothèque</h1>
        </div>
        <div class="view-body">
          <% current_user.follows.each do |follow| %>
            <% @book =  follow.chapter.book %>
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="book-card">
                  <%= link_to book_path(@book) do %>
                  <div class="rectangle-1" style="border: 1px solid <%= @book.hex_for_category %>;">
                    <div class="rectangle-2" style="border: 1px solid <%= @book.hex_for_category %>;">
                      <h2><strong><%= @book.title %></strong></h2>
                      <h3 style="color: <%= @book.hex_for_category %>;"><%= @book.category %></h3>
                      <div class="card-summary">
                        <p><%= @book.summary[0..100].truncate(100, separator: ' ') %></p>
                      </div>
                    </div>
                  </div>
                  <%end%>
                </div>
              </div>
          <% end  %>
        </div>
      </div>



      <div class="tab-content hidden" id="reviews">
        <% current_user.reviews.all.each do |review| %>
          <div class="dashboard-review">
            <span id="review-chapter-title"><%= review.chapter.title %></span>
            <span id="review-author"><%= review.chapter.book.user.first_name %> <%= review.chapter.book.user.last_name %></span>
            <span id="review-content"> <%= review.content.chars.first(100).join('') + '...' %></span>
          </div>
        <% end %>
      </div>



      <div class="tab-content hidden" id="drafts">
        <% current_user.reviews.all.each do |review| %>
          <div class="dashboard-review">
            <span id="review-chapter-title"><%= review.chapter.title %></span>
            <span id="review-author"><%= review.chapter.book.user.first_name %> <%= review.chapter.book.user.last_name %></span>
            <span id="review-content"> <%= review.content.chars.first(100).join('') + '...' %></span>
          </div>
        <% end %>
      </div>

  </div>

  </div>
</div>
