<div class="dashboard">
  <div class="profile-details">
    <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
    <p><%= current_user.description %></p>
    <%= link_to 'Editer mon profil', '#', class: 'edit-button' %>

  </div>
  <div class="library">
    <h2>Ma Bibliothèque</h2>
    <div class="library-content">
      <% current_user.follows.each do |follow| %>
        <% @book =  follow.chapter.book %>
        <div class="col-xs-6">
          <div class="card-large-level-3 card-small-level-3">
            <div class="card-large-level-2 card-small-level-2" style="border: 1px solid <%= @book.hex_for_category %>;">
              <div class="card-large-level-1 card-small-level-1" style="border: 1px solid <%= @book.hex_for_category %>;">
                <div class="card-large-content card-small-content">
                  <h2><%= @book.title %></h2>
                  <p style="color: <%= @book.hex_for_category %>;"><%= @book.category %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end  %>
    </div>
  </div>


  <div class="view">
    <div class="news">
      <div class="header">
        <div class="tabs">
          <a class="tab active" data-target="#news">
            <p>Chapitres Suivis</p>
          </a>
          <a class="tab" data-target="#reviews">
            <p>Mes Commentaires</p>
          </a>
        </div>
        <%= link_to  '#' do %>
          <div class="become-writer">
            <p>Devenez Ecrivain</p>
          </div>
        <% end %>
      </div>

      <% current_user.follows.each do |follow| %>
        <div class="tab-content" id="news">
            <%= follow.chapter.book.chapters.all.last.title %>,
            <%= follow.chapter.book.title %>
            de <%= follow.chapter.book.user.first_name %>
            <%= follow.chapter.book.user.last_name %>
        </div>
      <% end %>

      <% current_user.reviews.each do |review| %>
        <div class="tab-content hidden" id="reviews">
          <%= review.chapter.title %>
          <%= review.content.chars.first(100).join('') + '...' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
