<div class="dashboard">
  <div class="profile-details">
    <% if current_user.photo? %>
        <%= cl_image_tag(current_user.photo,  width: 50, height: 50, radius: :max, crop: :fill,  gravity: :face)%>
    <% else %>
      <%= link_to dashboard_users_path do %>
        <%= image_tag "user.svg", width: "75"%>
      <% end %>
    <% end %>
    <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
    <p><%= current_user.description.truncate(65, separator: ' ') %></p>
    <%= link_to 'Editer mon profil', edit_user_path(current_user), class: 'edit-button' %>
  </div>
  <div class="reader">
      <p>Lecteur</p>
      <div class="tabs">
        <a class="tab active" data-target="#news">
          <p>Dernières sorties ></p>
        </a>
        <a class="tab" data-target="#follows">
          <p>Ma Bibliothèque ></p>
        </a>
        <a class="tab" data-target="#reviews">
          <p>Mes Commentaires ></p>
        </a>
      </div>
  </div>

  <% if current_user.books %>
    <div class="writer">
      <p>Ecrivain</p>
      <div class="tabs">
        <a class="tab" data-target="#drafts">
          <p>Mes ébauches ></p>
        </a>
      </div>

    </div>
  <% else %>
    <%= link_to  become_writer_users_path, class:'become-writer' do %>
      Devenir Ecrivain
    <% end %>
  <% end %>




  <div class="view">
    <div class="news">
      <div class="view-header">
        <h1>Dernières sorties</h1>
      </div>
      <div class="tab-content" id="news">
        <% current_user.follows.each do |follow| %>
          <div class="chapter-feed">
            <div class="feed-book-cover">
              <p id="book-author"><%= follow.chapter.book.user.first_name %> <%= follow.chapter.book.user.last_name %></p>
            </div>
            <div class="feed-book-info">
              <p class="book-title"><%= follow.chapter.book.title %></p>
              <p class="chapter-title"><%= follow.chapter.book.chapters.all.last.title %></p>
              <p class="chapter-content"><%= follow.chapter.content.truncate(300, separator: ' ') %></p>
              <p class="chapter-date"><%= follow.chapter.created_at.strftime('%m/%d/%Y') %></p>
            </div>
            <div class="feed-icon">
              <% if 1 == 1 %>
                <%= image_tag "circle-empty.svg"%>
              <% else %>
                <%= image_tag "circle-empty.svg" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>




       <div class="tab-content hidden" id="follows">
        <div class="row">
          <% current_user.follows.each do |follow| %>
            <% @book =  follow.chapter.book %>
            <%= link_to book_path(@book) do %>
              <div class="col-xs-12 col-md-4 col-lg-3">
                <%= render 'books/book_cards', book: follow.chapter.book %>
              </div>
            <% end %>
          <% end  %>
        </div>
      </div>

      <div class="tab-content hidden" id="reviews">
        <% current_user.reviews.all.each do |review| %>
          <div class="dashboard-review">
            <span id="review-chapter-title"><%= review.chapter.title %></span>
            <span id="review-author"><%= review.chapter.book.user.first_name %> <%= review.chapter.book.user.last_name %></span>
            <span id="review-content"> <%= review.content.chars.first(100).join('') + '...' %></span>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>

