<div class="search-navbar">
  <div class="category-name">
    <h1><%= @category %></h1>
    <div class="dropdown">
      <i class="fa fa-angle-down dropdown-arrow" aria-hidden="true" data-toggle="dropdown"></i>
      <ul class="dropdown-menu">
        <% Book.category.each do |category| %>
          <%= link_to books_path(category: category) do %>
            <li><%= category %></li>
          <%end%>
        <%end%>
      </ul>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



  <!-- Dropdown list appearing on mobile only -->

    <% if user_signed_in? %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.photo? %>
            <%= cl_image_tag(current_user.photo,  width: 50, height: 50, radius: :max, crop: :fill,  gravity: :face)%>
          <% else %>
            <%= cl_image_tag("avatar-placeholder.png", width: 50, height: 50, radius: :max, crop: :fill,  gravity: :face) %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Connexion</a></li>
        <li><a href="#">Inscription</a></li>
        <li><a href="#">Devenir écrivain</a></li>
      </ul>
    </div>
  </div>
</div>
