
<div class="banner" style="background-image: url(<%= image_url('group-2.png') %>);">

  <div class="banner-content">
    <h1>  Lisez. Commentez. Notez. <br>Le livre le plus plébiscité est édité !  </br></h1>
  </div>

  <div class="btn btn-cta">
    Parcourir la Bibliothèque
  </div>
</div>



<div class="container">
  <ul class="nav nav-tabs" role="tablist" style="margin-top: 38px">
    <% Book.category.each do |category| %>
      <li role="presentation" class="<%= 'active' if category == Book.category.first %>"><a href="#<%= category %>" aria-controls="<%= category %>" role="tab" data-toggle="tab"><%= category %></a></li>
    <%end%>
  </ul>
  <div class="tabs">
    <%= link_to books_path(category: category) do %>
      <h2>Tout afficher</h2>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="tab-content">
    <% Book.category.each do |category| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if category == Book.category.first %>" id="<%= category %>">
        <div class="container text-center" style="background-color: #E1F1EE; padding: 20px;">
          <div class="row-fluid">
            <% dynamic_category(category).each do |book| %>
              <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <%= render "books/book_cards", book: book %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>



<div class="container-animation" style="background-color: white;">
      <h1 class="item-1">“L’art n’est pas d’arriver avec des idées neuves mais d’interpréter ces idées qui nous entourent depuis toujours.”<strong> George Lucas </strong></h1>
      <h1 class="item-2">“La vie est la source de la littérature et la littérature doit être fidèle à la vie.” <strong>Gao Xingjian</strong></h1>
      <h1 class="item-3">“Les mots donnent, en moyenne, autant d’idées que les idées donnent de mots.” <strong>Paul Valery</strong></h1>
</div>

<div class="container">
  <div class="master-tab">
    <div class="tabs" style="font-weight: bold">
        <p>Nouveautés</p>
    </div>
    <div class="tabs">
      <a class="tab" data-target="#toutafficher">
        <h2>Tout afficher</h2>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #EDE8F0;">
  <div class="card-container">
    <% @new_books.each do |book| %>
    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
      <%= render 'books/book_cards', book: book %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="master-tab">
    <div class="tabs" style="font-weight: bold">
        <p>Les Plus Populaires</p>
    </div>
    <div class="tabs">
      <a class="tab" data-target="#toutafficher">
        <h2>Tout afficher</h2>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #E4E9F4;">
  <div class="card-container">
    <% @popular_books.each do |book| %>
    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
      <%= render 'books/book_cards', book: book %>
      </div>
    <% end %>
  </div>
</div>
