
<div class="banner" style="background-image: url(<%= image_url('group-2.png') %>);">

  <div class="banner-content">
    <h1>  Lisez. Commentez. Notez. <br>Le livre le plus plébiscité est édité !  </br></h1>
  </div>

  <div class="btn btn-cta">
    Parcourir la Bibliothèque
  </div>
</div>


<div class="container-fluid">
  <ul class="nav nav-tabs" role="tablist">
    <% Book.category.each do |category| %>
      <li role="presentation" class="<%= 'active' if category == Book.category.first %>"><a href="#<%= category %>" aria-controls="<%= category %>" role="tab" data-toggle="tab"><%= category %></a></li>
    <%end%>
  </ul>

  <div class="tab-content">
    <% Book.category.each do |category| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if category == Book.category.first %>" id="<%= category %>">
        <div class="row">
          <% dynamic_category(category).each do |book| %>
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <%= render "books/book_cards", book: book %>
              </div>
            <% end %>
        </div>
      </div>
    <%end%>
  </div>
</div>


<div class="banner-quote" style="background-color: white;">
    <div class="quote-content">
      <h1> There is nothing more powerful than an idea whose time has come </h1>
      <p> Victor Hugo </p>
    </div>
</div>
