<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="banner" style="background-image: url(<%= image_url('Group-1.png') %>);">
        <div class="banner-content">
          <h1> RateMyBook <br>Influencez l'écriture d'un Best Seller!</br></h1>
        </div>

        <div class="btn btn-cta">
          En savoir plus
        </div>
      </div>
    </div>
      <div class="item">
        <div class="banner" style="background-image: url(<%= image_url('group-2.png') %>);">
        <div class="banner-content">
          <h1> Lecteurs curieux ? <br>Lisez. Commentez. Votez.</br></h1>
        </div>

        <div class="btn btn-cta">
          Parcourir la Bibliothèque
        </div>
      </div>
      </div>

          <div class="item">
        <div class="banner" style="background-image: url(<%= image_url('Group-3.png') %>);">

        <div class="banner-content" id="writer-catch-phrase" >
          <h2> Vous avez du talent? <br>Le livre le plus plébiscité est édité !</br></h2>

        </div>

        <div class="btn btn-cta">
          Devenir Écrivain
        </div>
      </div>
      </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" style="background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container">
  <div class="master-tab">
    <div class="tabs" style="font-weight: bold">
        <p>Les Plus Populaires</p>
    </div>
    <div class="tabs">
      <%= link_to books_path(category: 'popular'), class: 'tab' do %>
        <h2>Découvrir le classement</h2>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #FBFAF2;">
  <div class="card-container">
    <% @popular_books.each do |book| %>
    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
      <%= render 'books/book_cards', book: book %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="master-tab">
    <div class="tabs" style="font-weight: bold">
        <p>Nouveautés</p>
    </div>
    <div class="tabs">
      <a class="tab" data-target="#toutafficher">
        <h2>Tout afficher</h2>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #FCD265">
  <div class="card-container">
    <% @new_books.each do |book| %>
    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
      <%= render 'books/book_cards', book: book %>
      </div>
    <% end %>
  </div>
</div>

<div class="container-animation" style="background-color: white;">
      <h1 class="item-2">“La vie est la source de la littérature et la littérature doit être fidèle à la vie.” <strong>Gao Xingjian</strong></h1>
      <h1 class="item-3">“Les mots donnent, en moyenne, autant d’idées que les idées donnent de mots.” <strong>Paul Valery</strong></h1>
</div>

<!-- Tabs -->
<div class="container">
  <div class="tab-menu">
    <ul class="nav nav-tabs" role="tablist" style="margin-top: 38px">
      <% Book.category.each do |category| %>
        <li role="presentation" class="<%= 'active' if category == Book.category.first %>"><a href="#<%= category %>" aria-controls="<%= category %>" role="tab" data-toggle="tab"><%= category %></a></li>
      <%end%>
    </ul>
      <div class="tabs">
        <%= link_to books_path(category: 'Biographie'), id: 'category-link', class: 'tab' do %>
          Tout afficher
        <% end %>
      </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var category = e.target.href;
        var category = category.substring(23);
        console.log(category);
        e.relatedTarget // previous active tab
        $('#category-link').attr('href', '/books?category=' + category);
      });
    });
  </script>
<% end %>

<div class="container-fluid" style="background-color: #607B7D;
">
  <div class="tab-content">
    <% Book.category.each do |category| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if category == Book.category.first %>" id="<%= category %>">
        <div class="container text-center" style="padding: 20px;">
          <div class="row-fluid">
            <% dynamic_category(category).each do |book| %>
              <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <%= render "books/book_cards", book: book %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
