<div class="book-card-large">
  <div class="rectangle-1-large" style="border: 1px solid <%= book.hex_for_category %>;">
    <div class="rectangle-2-large" style="border: 1px solid <%= book.hex_for_category %>;">
      <div class="card-large-content">
        <h2><%= book.title %></h2>
        <p style="color: <%= book.hex_for_category %>;"><%= book.category %></p>
      </div>
    </div>
  </div>
</div>
