<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="card-large-level-3">
        <div class="card-large-level-2" style="border: 1px solid <%= @book.hex_for_category %>;">
          <div class="card-large-level-1" style="border: 1px solid <%= @book.hex_for_category %>;">
            <div class="card-large-content">
              <h2><%= @book.title %></h2>
              <p style="color: <%= @book.hex_for_category %>;"><%= @book.category %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7">
      <div class="book-description-header">
        <h1><strong><%= @book.title %></strong></h1>
        <h2>de <%= @book.user.first_name %> <%= @book.user.last_name %></h2>
      </div>
      <div class="book-description-body">
        <p><%= @book.summary %></p>
      </div>
      <div class="book-button">
      <%= link_to "Reprendre la lecture", "#", class: "button" %>
      </div>
    </div>
  </div>

  <div class="contents">
    <h2>Sommaire</h2>
    <% @book.chapters.each do |chapter| %>
    <div class="chapter-info">
      <div class="chapter-title">
        <%= chapter.title %>
      </div>
      <div class="chapter-stats">
        <div class="stats views">
          <%= link_to "#" do %>
            <%= image_tag "eye.svg" %>
          <% end %>
          <p>234</p>
        </div>
        <div class="stats upvotes">
          <%= link_to "#" do %>
            <%= image_tag "flag.svg" %>
          <% end %>
          <p>234</p>
        </div>
        <div class="stats comments">
          <%= link_to "#",:data => {
            :toggle => 'modal',
            :target => '.bs-example-modal-lg' } do %>
            <%= image_tag "comment.svg" %>
          <% end %>
          <p>234</p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="to-be-continued">
      <p>To be continued...</p>
    </div>
  </div>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="review">
            <%= image_tag "user.svg" %>
            <%= @book.chapters %>

          </div>
        </div>
      </div>
    </div>
  </div>




</div>
