<div class="container margin-top">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="card-large-level-3">
        <div class="card-large-level-2">
          <div class="card-large-level-1">
            <div class="card-large-content">
              <h2><%= @book.title %></h2>
              <p><%= @book.category %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7">
      <div class="book-description-header">
        <h1><strong><%= @book.title %></strong></h1>
        <h2>de <%= @book.user.first_name %> <%= @book.user.last_name %></h2>
      </div>
      <div class="book-description-body">
        <p><%= @book.summary %></p>
      </div>
      <div class="book-button">
      <%= link_to "Reprendre la lecture", "#", class: "button" %>
      </div>
    </div>
  </div>

  <div class="contents">
    <h2>Sommaire</h2>
      <% @book.chapters.each do |chapter| %>
      <div class="chapter-title">
        <%= chapter.title %>

        <div class="chapter-stats">
          <div class="views">
            <%=  chapter.read_count %>
          </div>
          <div class="upvotes">

          </div>
          <div class="comments">

          </div>
        <% end %>
        </div>
      </div>

      <div>
      </div>
  </div>

</div>
