<div class="reader">

  <div class="navbar-wagon chapter-navbar">
    <div class="title">
      <h1>
        <%= @chapter.title %>
      </h1>
    </div>
  </div>

  <div class="overview">
    <a href="">Sommaire  ></a>
    <div class="chapters hidden">
      <% @chapter.book.chapters.all.each do |chapter| %>
        <p><%= chapter.title %></p>
      <% end %>
    </div>
  </div>

  <div class="text-content">
    <p>
      <%= @chapter.content %>
    </p>
    <p>
      <%= @chapter.content %>
    </p>
    <p>
      <%= @chapter.content %>
    </p>
    <p>
      <%= @chapter.content %>
    </p>
    <p>
      <%= @chapter.content %>
    </p>
    <p>
      <%= @chapter.content %>
    </p>
    <p>
      <%= @chapter.content %>
    </p>
    <p>
      <%= @chapter.content %>
    </p>
  </div>

  <div class="feedback">
    <div class="review">
      <%= simple_form_for [@chapter, @review] do |f| %>
        <%= f.input :content %>
      <% end %>
    </div>
    <%= link_to 'Demander le prochain chapitre', some_path %>
  </div>
</div>

