<div class="chapter-navbar">
  <div class="title">
    <h1>
      <%= @chapter.title %>
    </h1>
  </div>
  <div class="exit">
    <%= simple_form_for @read do |f| %>
      <%= f.input :is_read?, label: false, input_html: {id: "is-read"}, as: :hidden%>
      <%= button_tag(type: 'submit', class: 'exit-tag') do %>
        <%= image_tag "close.svg" %>
      <% end %>
    <% end %>
  </div>
</div>



<div class="content">

  <div class="overview">
    <a href="">Sommaire  ></a>
    <div class="chapters hidden">
      <% @chapter.book.chapters.all.each do |chapter| %>
        <p>
          <%= link_to chapter_path(chapter) do %>
            <%= chapter.title %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="bookmark", data-scroll="<%= @scroll.scroll_value %>">
    <%= simple_form_for @scroll do |f| %>
      <%= f.input :scroll_value, input_html: {id: "scroll-value"}, as: :hidden%>
      <%= f.button :submit, value: "Déposer un marque-page", id: "bookmark" %>
    <% end %>

  </div>

  <div class="text-content">
    <p id="text">
      <p>
        <%= @chapter.content %>
        <%= @chapter.content %>
      </p>
      <p>
        <%= @chapter.content %>
      </p>
      <p>
        <%= @chapter.content %>
        <%= @chapter.content %>
        <%= @chapter.content %>
      </p>
      <p>
        <%= @chapter.content %>
      </p>
      <p>
        <%= @chapter.content %>
        <%= @chapter.content %>
      </p>
      <p>
        <%= @chapter.content %>
      </p>

    </p>


    <div class="write-a-review">
      <div class="comment-rollback"></div>
      <div class="reviewing">
        <%= render "chapters/comment", chapter: @chapter, review: @review %>
      </div>

      <div class="following">
        <%= render "chapters/follow", chapter: @chapter, follow: @follow %>
      </div>

    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= render 'bookmark' %>
<% end %>
