<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RateMyBook | Influencez l'écriture d'un Best Seller</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag source="favicon.ico" %>
    <%= stylesheet_link_tag 'profile', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/profile_navbar' unless @disable_nav %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' unless @no_footer %>
    <%= javascript_include_tag 'profile' %>
    <%= cloudinary_js_config %>
  </body>
</html>
